<h1 class="animated fadeIn fast">Héroes <small>Marvel y DC</small></h1>
<hr>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col animated fadeIn" *ngFor="let heroe of heroes; let i = index;">
    <div class="card h-100">
      <img src="{{heroe.img}}" class="card-img-top" alt="{{heroe.nombre}}">
      <div class="card-body">
        <h5 class="card-title">{{heroe.nombre}}</h5>
        <p class="card-text">{{heroe.bio}}</p>
      </div>
      <div style="padding: 10px;">
        <button class="btn btn-outline-primary w-100" (click)="verHeroe(i)">Ver mas...</button>
        <!--<a [routerLink]="['/heroe',i]" class="btn btn-outline-primary w-100">Ver mas...</a>-->
      </div>
      <div class="card-footer">
        <small class="text-muted">Aparecio por primera vez en {{heroe.aparicion}}</small>
      </div>
    </div>
  </div>
</div>